.home--container {

  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home--container h3 {
  font-size: 30px;
  font-weight: 400;
}

.home--login-btn {
  width: 300px;
  height: 50px;
  border-radius: 200px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease 0.1s;
  background-color: #9350f1;
  cursor: pointer;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home--login-btn:hover {
  background-color: #6e1be1;
  box-shadow: 0px 15px 20px rgba(125, 125, 125, 0.322);
  transform: translateY(-1px);
}