.block--container {
  height: 100vh;
  background-color: black;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block--container h1 {
  color: rgb(83, 243, 189);
}