.main--container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  row-gap: 40px;
}

.main--top-data {
  display: flex;
}

.main--container button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease 0.1s;
  background-color: #0e7b1e;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main--container button:hover {
  background-color: #1be198;
  box-shadow: 0px 15px 20px rgba(125, 125, 125, 0.322);
  transform: translateY(-1px);
}

.main--all-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 220px));
  grid-template-rows: repeat(3, minmax(0, 220px));
  gap: 5px;
  min-width: 0;
}

.main--all-tracks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main--all-tracks ol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-weight: 550;
}

.main--all-tracks ol li {
  position: relative;
}

.main--all-tracks ol li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0898df;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main--all-tracks ol li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main--highlight {
  background-image: linear-gradient(to right, #11e8e4cc, #40e9e6cc, #0ab1ffcc);
  border-radius: 6px;
  padding: 3px 6px;
}

.artist--container {
  position: relative;
  max-width: 225px;
  max-height: 225px;
  background-color: rgba(255, 255, 255, 0.596);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, .4);
}

.artist--img {
  height: 220px;
  width: 220px;
}

.img-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(56, 55, 55, 0.596);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.artist--container:hover .img-name {
  visibility: visible;
  opacity: 1;
}

.main--data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 660px;
  width: 100%;
  padding: 20px;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.main--data main--bar {
  width: 100px;
}

@media screen and (max-width: 1400px) {
  .main--data {
    flex-direction: column;
  }

  .main--top-data {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .main--container {
    justify-content: center;
    align-items: center;
  }

  .main--data {
    flex-direction: column;
  }

  .artist--img {
    width: 25vw;
    height: 25vw
  }

  .artist--container {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .main--all-images {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    gap: 5px;
    min-width: 0;
  }
}